#slider{
    width: 960px;
    height: 500px;
    position: relative;
    margin: 50px auto;
}
#slider:hover #next{
    opacity: 1;
    transition: all .6s ease-out;
    -webkit-transition: all .6s ease-out;
}

#slider:hover #prev{
    opacity: 1;
    transition: all .6s ease-out;
    -webkit-transition: all .6s ease-out;
}


#slider .slides{
    width: 960px;
    height: 500px;
    position: absolute;
    overflow: hidden;
}


#slider .slide{
    width: 300px; /*set the width or max-width*/
    height: auto; /*this makes sure to maintain the aspect ratio*/
}

#next {
    text-align: center;
    line-height: 50px;
    position: absolute;
    z-index: 99;
    cursor: pointer;
    top: 250px;
    right: 0;
    width: 50px; height: 50px;
    background-color: grey;
    opacity: 0.25;
    font-weight: bold;
}

#prev {
    text-align: center;
    line-height: 50px;
    position: absolute;
    z-index: 99;
    cursor: pointer;
    top: 250px;
    left: 0;
    width: 50px; height: 50px;
    background-color: grey;
    opacity: 0.25;
}

#header{
    text-align: center;
    font-family: "Calibri";
    border-bottom: 2px solid black;

}

.container2 header h2{
    text-align: center;
    font-family: "Calibri";
    
}

.s1{
    margin-right: 300px;
    margin-left: 300px;
    border-bottom: 1px solid grey;
}

.search{
    text-align: center;
    margin-right: 500px;
    margin-left: 500px;

}

#apiData{
    
    border-bottom: 2px solid grey;
}

.fb-share-button{
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

#container {
  float: left;
  margin: 5px;
  
} 

.search{
    position: relative;

    margin-right: 50px;
    margin-left: 50px;
}




table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

